* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#hero-section {
    background: url('./images/bg.webp') no-repeat center/cover;
    height: 100vh;
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(36, 28, 28, 0.471);
    padding: 10px 0;
    /* opacity: 0.5; */
}

#navbar img {
    width: 250px;
}

#navbar li {
    list-style: none;
    margin: 0 10px;
}

li a {
    text-decoration: none;
    color: white;
}

#content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 80%;
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

#content p {
    width: 60%;
    font-size: 20px;
    margin: 20px 0;
}

#content .btns button {
    background-color: #00ab9f;
    border: none;
    /* border-radius: 5px; */
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    margin-bottom: 30px;
    transition: all .5s ease-in-out;
    margin-left: 20px;
}

/* end */

#key-features {
    display: flex;
    margin: 0px 50px;
}

#key-features .container {
    background-color: #00ab9f;
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

}

#key-features .container1 {
    background-color: #05867d;
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.content {
    display: flex;

}

.content i {
    font-size: 26px;
    margin-right: 10px;
    font-weight: 900;
}

.content h5 {
    font-size: 20px;
}

/* end */

.wat-we-do {
    padding: 50px 10px;
    background-color: #FFF;
}

.title-row {
    padding: 30px;
    margin: 10px 60px;
}

.title-row h2 {
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.title-row p {
    text-align: center;
    /* font-size: 16px; */
}

.row {
    display: flex;
}

.internal-row {
    text-align: center;
    padding: 10px;
}

.internal-row i {
    color: #00ab9f;
    font-size: 32px;
    margin-bottom: 10px;
}

.internal-row p {
    margin-top: 10px;
}

.desic {
    padding: 10px;
    border-left: 5px solid #00ab9f;
    padding-left: 15px;
    margin-top: 90px;
    font-size: 18px;
}

/* end */

.key-features {
    padding: 50px 10px;
    background-color: #f8f9fa;
}

.inner-title {
    padding: 20px;
    margin-bottom: 30px;
}

.inner-title h2 {
    text-align: center;
    font-weight: 600;
    font-size: 25px;
}

.inner-title p {
    text-align: center;
}

.row .our-services
{
    height: 250px;
    width: 32%;
    margin: 5px;
}

.row .our-services .single-key {
    background-color: #FFF;
    border-radius: 2px;
    text-align: center;
    padding: 30px;
}

.row .our-services .single-key i{
    background-color: #00ab9f;
    padding: 20px;
    font-size: 42px;
    color: #FFF;
    margin-bottom: 30px;
    border-radius: 50px;
}

.row .our-services .single-key h5{
    font-size: 20px;
}

#services .row
{
    display: flex;
    flex-wrap: wrap;
}

/* end this section */

.task-container
{
    background: url('./images/bg.webp') no-repeat center/cover;
    height: 100vh;
}

.task-container .content-container
{
    width: 50%;
    background-color: rgba(36, 28, 28, 0.471);
    height: 100vh;
    color: #FFF;
    line-height: 1.2;
    text-align:left;
    padding: 50px 40px;
}


.task-container .content-container h4{
    font-size: 25px;
}


.task-container .content-container p{
    font-size: 18px;
}
.task-container .content-container li
{
    list-style: none;
}
.task-container .content-container li i{
    margin-right: 10px;
    font-weight: 400;
    font-size: 20px;
}

.task-container .right-container
{
    width: 50%;
}

/* Gallery section start */

.gallery-btns
{
    display: flex;
    width: 100%;
    justify-content: center;
   
    
}
.gallery-btns button
{
    border: none;
    border-color: #00ab9f ;
    border-radius: 5px;
    color: #00ab9f;
    margin-right: 5px;
    margin-bottom: 10px;
    padding: 10px 20px;
    box-shadow: 0 12px 16px 0 rgba(105, 102, 102, 0.24),

}

.gallery-btns button:hover{
    background-color: #00ab9f;
    color: #FFF;
}

.gallery-row
{
    display: flex;
    flex-wrap: wrap;
    margin: 20PX;
    justify-content: center;
}

.gallery-row .img-responsive
{
    margin-right: 15PX;
    margin-top: 15PX;
    height: 230px;
    width: 230px;
}

/* end this one */

.blog-cards
{
    width: 460px;
    margin: 10px;
}
.blog-row
{
    background-color: #fff;
    border-radius: 2px;
    margin-bottom: 30px;
    display: flex;
    height: 250px;
    /* width: 400px; */
}

.blog-img
{
    width: 40%;
    height: 20px;
}

.blog-img img{
    width: 160px;
    height: 180px;
}

.blog-content
{
    width: 60%;
    padding-left: 10px;
}

.blog-content h2{
    line-height: 1.2;
    font-weight: 400;
}

.blog-content p i{
    margin-right: 10px;
    font-size: 12px;
    font-weight: 900;
}

.blog-content p i small
{
    margin-left: 5px;
    font-weight: 400;
}

.blog-desic
{
    margin-top: 8px;
    font-size: 12px;
    margin-bottom: 10px;
    width: 100%;
}

.blog-content a{
    color: #00ab9f;
    font-style: 12px;
    text-decoration: none;
    outline: none;
}

.blog-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* last section */

.map-section
{
    display: flex;
}
.map-container
{
    width: 50%;
}



.form-container
{
    width: 50%;
    padding: 30px;
    display:flex;
    align-items: center;
}

.map-container img{
    height: 100vh;
    width: 100%;
}

.form-row
{
    display: flex;
    margin: 25px 0px;
    
   
}

form button
{
    background-color: #00ab9f;
    color: #FFF;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
}