*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#hero-section{
    background: url('./images/bg.webp') no-repeat center/cover;
    height: 100vh;
}
#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(36, 28, 28, 0.471);
    padding: 10px 0;
    /* opacity: 0.5; */
}
#navbar img{
    width: 250px;
}
#navbar li{
    list-style: none;
    margin: 0 10px;
}
li a{
    text-decoration: none;
    color: white;
}
#content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 80%;
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
#content p{
    width: 60%;
    font-size: 20px;
    margin: 20px 0;
}
#content .btns button{
    background-color: #00ab9f;
    border: none;
    /* border-radius: 5px; */
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    margin-bottom: 30px;
    transition: all .5s ease-in-out;
    margin-left: 20px;
}

/* end */

#key-features
{
    display: flex;
    margin: 0px 50px;
}

#key-features .container
{
    background-color: #00ab9f;
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

}

#key-features .container1
{
    background-color: #05867d;
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.content
{
    display: flex;

}

.content i{
    font-size: 26px;
    margin-right: 10px;
    font-weight: 900;
}

.content h5{
    font-size: 20px;
}

/* end */

.wat-we-do
{
    padding: 50px 10px;
    background-color: #FFF;
}

.title-row
{
    padding: 30px;
    margin: 10px 60px;
}

.title-row h2{
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.title-row p{
    text-align: center;
    /* font-size: 16px; */
}
.row
{
    display: flex;
}

.internal-row
{
    text-align: center;
    padding: 10px;
}

.internal-row i{
    color: #00ab9f;
    font-size: 32px;
    margin-bottom: 10px;
}

.internal-row p{
margin-top: 10px;
}

.desic
{
    padding: 10px;
    border-left: 5px solid #00ab9f;
    padding-left: 15px;
    margin-top: 90px;
    font-size: 18px;
}